[Unit]
Description=Shut down local host when remote host not responding
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=pingshutdown
Restart=always
EnvironmentFile=/etc/default/pingshutdown

[Install]
WantedBy=multi-user.target
